body {
    margin: 20px;
    font-family: Arial;
}

/* Navbar */
nav {
    background:black;
    color: brown;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

/* Cards */
.cards {
    display: contents; /* FLEXBOX */
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
}

.card {
    width: 200px;
    padding: 20px;
    background: blueviolet;
    position: relative; /* مهم للـ badge */
    width: 250px;
    padding: 20px;
    margin: 10px;
}

/* Badge */
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: brown;
    color:black;
    padding: 5px 10px;
    border-radius: 40px;
}

